<!DOCTYPE html>

<html>
    <head>
        <title>Raspberry Pi Remote Control Panel</title>
        <link rel="stylesheet" type="text/css" href="static/index.css">
    </head>

    <body>
        <div style="height:40px;margin:0 auto;"></div>
        <div id="page">
        <h2>Raspberry Pi Remote Control Panel</h2>

        <div id="buttons_container">
            {{ range $key, $value := .Buttons }}
            <span id="{{$value}}" class="button">
                {{ $key }}
            </span>
            <script type="text/javascript">
                document.getElementById("{{$value}}").onclick = function() {
                    var button = document.getElementById("{{$value}}")
                    button.style.backgroundColor = "#610";
                    var xmlhttp = new XMLHttpRequest;
                    xmlhttp.open("POST", "/triggers/{{$value}}", true);
                    xmlhttp.send();
                    location.reload();
                }
            </script>
            {{ end }}
        </div>

        <pre>
<b>System Information:</b>
{{ .Uname }}
<b>Current User:</b>
{{ .Whoami }}
<b>Running processes:</b>
{{ .PS }}
        </pre>
        </div>
    </body>
</html>

