<!DOCTYPE html>

<html>
    <head>
        <title>Raspberry Pi Remote Control Panel</title>
        <link rel="stylesheet" type="text/css" href="static/index.css">
    </head>

    <body>
        <div id="page">
        <img id="logo" src="static/raspberry_pi_logo.png"></img>
        <h2 id="page_title">Raspberry Pi Remote Control Panel</h2>

        <div id="buttons_container">
            <!--
                Iterate the buttons that exist and inject them as HTML entities
                with associated `onclick` handlers.
            -->
            {{ range $key, $value := .Buttons }}
                <div id="{{$value}}" class="button">
                    {{ $key }}
                </div>
                <script type="text/javascript">
                    // Set up onclick handler for each button that points to
                    // `/triggers/{buttonID}`.
                    document.getElementById("{{$value}}").onclick = function() {
                        var button = document.getElementById("{{$value}}")
                        button.style.backgroundColor = "#610";

                        var xmlhttp = new XMLHttpRequest;
                        xmlhttp.open("POST", "/triggers/{{$value}}", true);
                        xmlhttp.send();
                        location.reload();
                    }
                </script>
            {{ end }}
        </div>

        <br>
        <hr>

        <pre>
<b>System Information:</b>
{{ .Uname }}
<b>Time:</b>
{{ .WhatTime }}
<b>Current User:</b>
{{ .Whoami }}
<b>Running processes:</b>
{{ .PS }}</pre>

        <div class="button" onclick="location.reload();" style="text-align: center; margin: 0 auto;">Reload</div>
        </div>
    </body>
</html>

